.services{
    position: relative;
    background: white;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.services-container{
    display: flex;
    width: 100%;
    /* flex-direction: row; */

}

.items{
    width: 50%;
    
}

.black{
    color: black;
    letter-spacing: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.green{
    color: #0d5d35;
    letter-spacing: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
}