.header{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo{
    display: block;
    animation: moveInDown 1s ease-out .75s;
    animation-fill-mode: backwards;
    
}

@keyframes moveInDown{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    80%{
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/********** quote button **********/

.btn-box{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white{
    background-color: #fff;
    color: black;
    
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animated{
    animation: moveInBottom .5s ease-out 1s;
    animation-fill-mode: backwards;
}


/********* arrow scroll down *********/

.arrow-box{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow{
    display: block;
    animation: arrowIn .7s ease-in-out .75s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.arrow:hover{
    color: black;
    cursor: pointer;
}

@keyframes arrowIn{
    0%{
        opacity: 1;
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translateY(-10px);
    }
}

/****** video background ******/

#vid-header{
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #vid-header{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    #vid-header{
        width: auto;
        height: 100%;
    }
}

@media(max-width: 767px){
    #vid-header{
        display: none;
    }

    .header{
        background: url('poster.png');
        background-size: cover;
    }
}
