@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: auto;
  box-sizing: border-box;
}

a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1{
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 150px;
  color: forestgreen;
  letter-spacing: 5px;
}

h2{
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: forestgreen;
  letter-spacing: 2px;
}

p{
  font-family: 'Roboto' , sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  letter-spacing: 2px;
  
}
